header{background-color: aqua;
text-align: center;

}

nav{background-color: rgb(255, 255, 255);
    margin: -20px auto;
    box-shadow: 1px 1px 1px 1px black;
}



body{background-color: blue;}

.gambar{float: left;}

.gambar2{float:right}

.gambar3{float: left;}

article{background-color: aqua;
margin:10px 250px 10px 10px;
}

p{font-size:xx-large ;}

aside{float:right;
background-color: rgb(255, 238, 0);
box-shadow: 4px 4px 4px 0px black;
}

h2{text-align: center;}

footer{background-color: rgb(255, 255, 255);
text-align: center;}